$grey-lighter: #98a4ad;
$grey-light: #7a8288;
$grey: #52575c;
$grey-dark: #3a3f44;
$grey-darker: #272b30;

$orange: #f89406;
$green: #62c462;
$blue: #5bc0de;
$red: #ee5f5b;

$primary: $grey !default;
$warning: $orange;
$warning-invert: #fff;

$shadow: $grey-light;
$shadow-large: $grey-light;

$black-bis: rgb(18, 18, 18);

$dark: darken($grey-darker, 3);

$border: $grey;

$size-7: 0.85rem;

$body-background-color: $grey-darker;
$background: $grey-dark;
$footer-background-color: $orange;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$title-color: #aaa;
$subtitle-color: $grey-light;
$subtitle-strong-color: $grey-light;

$text: #aaa;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-shadow: none;
$box-background-color: $grey-dark;

$card-shadow: none;
$card-background-color: $grey-darker;
$card-header-shadow: none;
$card-header-background-color: rgba($black-bis, 0.2);
$card-footer-background-color: rgba($black-bis, 0.2);

$link: $orange;
$link-invert: $grey;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 15);
$link-focus-border: darken($link, 5);
$link-active-border: $link-focus-border;

$button-color: #fafafa;

$input-focus-border-color: $grey-light;
$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-lighter;
$input-disabled-border: $grey-lighter;
$input-arrow: $primary;
$label-color: $text;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 4);

$pagination-border-color: $border;

$navbar-height: 4rem;
$navbar-background-color: $background;
$navbar-item-color: rgba($link, 0.5);
$navbar-item-hover-color: $link;
$navbar-item-active-color: $link;
$navbar-item-hover-background-color: darken($grey-dark, 5);
$navbar-item-active-background-color: darken($grey-dark, 5);
$navbar-dropdown-background-color: $background;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-hover-background-color: darken($grey-dark, 5);
$navbar-dropdown-item-active-background-color: darken($grey-dark, 5);

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$button-disabled-background-color: $grey-lighter;

$tabs-toggle-link-active-background-color: $background;
$tabs-toggle-link-active-border-color: $border;
$tabs-toggle-link-active-color: #fff;
$tabs-boxed-link-active-background-color: $body-background-color;
