.back-arrow {
  .material-icons {
    font-size: 2.5rem;
  }
}

.samples-list {
  .active {
    .box {
      border: 2px solid #ccc;
      background-color: #333;
    }
  }
}

.sample-section {
  padding: 0 1.5rem;
}

.tabs {
  a.active {
    border-bottom: 3px solid #ccc;
  }
}

.replicate-table {
  background: none;
  margin-left: -0.5rem;
  tr {
    th,
    td {
      font-size: 1.2rem;
      padding-bottom: 1.5rem;
      border: none;
      &.text-only-cell {
        padding-top: 1.4rem;
      }
    }
  }
}
